/* importing poppins from google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* setiing margin 0 in the whole html file  */
* {
    margin: 0;
}

/* setting poppins font to the body part  */

body {
    font-family: 'Poppins', sans-serif;
}

section {
    margin-bottom: 8%;
}

/* styles of banner-container of main  */

main .banner-container {
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: #161616;
    border-radius: 20px;
    display: flex;

}

.banner-container .banner-info {
    padding: 7% 7%;
}

.banner-info h1 {
    color: white;
    font-size: 35px;
    margin-bottom: 5px;
}

.banner-info p {
    color: white;
    font-size: 8px;
    margin-bottom: 15px;
}

.banner-info a {
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    padding: 2% 5%;
    border-radius: 5px;
    font-size: 10px;

}

.banner-info i {
    padding-left: 2%;
}

.banner-img {
    margin-right: 20%;

}

.banner-img img {
    width: 180%;
    height: 100%;

}

/* banner container style finished */

/* style of next section(nav bar and grid layout) */

section .navbar {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 5%;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
    /* position: sticky; */
}

.navbar .same-navbar {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: lighter;
    background-color: white;
    margin-bottom: 10%;
    padding: 5% 10%;
    border-radius: 5px;

}

.navbar .dif-navbar {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: lighter;
    background-color: #DD0000;
    margin-bottom: 10%;
    padding: 5% 10%;
    border-radius: 5px;
}